
.content_wrapper {
  background-color: #282c34;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px 40px;

  .text {
    margin-bottom: 20px !important;
  }

  .headding {
    color: #0d77b5;
  }
  
  .link {
    color: #0d77b5;

    &:hover {
      color: lighten($color: #0d77b5, $amount: 10%);
    }
  }
}


