header {
    background-image: linear-gradient(160deg, $cyan 30%, $blue-dark 90%);
    width: 100%;
    min-height: 105px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #block-my-theme-site-branding {
            padding: 0;
            margin: 0;
            background-image: initial;
            min-height: auto;        
        }

        .site-branding__text {
            color: $light;
        }

        .menu {
            display: flex;

            .menu__item {
                margin: 0 10px;

                .menu__link--link {
                    color: $light;
                }
            }            
        }
    }    
}



