<div class="layout-container">
  <header>
    <div class="container">
      {{ page.header }}
    </div>    
  </header>
  <main>
    <div class="container">
    {% if page.content.system_main['#title'] == null %}
      <div id="root"></div>
    {% else %}
      {{page.content}}      
    {% endif %}
    </div>    
  </main>
  <footer>
    <div class="container">
      {{ page.footer }}
    </div>   
  </footer>
</div>