<div class="layout-container">
  <header>
    <div class="container">
      {{ page.header }}
    </div>    
  </header>
  <main>
    <div class="container">
      <div id="root"></div>
    </div>    
  </main>
  <footer>
    <div class="container">
      {{ page.footer }}
    </div>   
  </footer>
</div>