/* colors */

$blue-dark: #0000ff;
$violet:    #842c68;
$blue:      #007bff;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #dc3545;
$orange:    #f39a51;
$gold:      #ffd700;
$green:     #28a745;
$teal:      #20c997;
$cyan:      #17a2b8;
$white:     #ffffff;
$gray:      #f2f2f2;
$gray-dark: #343a40;
$primary:   #007bff;
$secondary: #6c757d;
$brown:     #c4c4c4;
$success:   #28a745;
$info:      #17a2b8;
$danger:    #dc3545;
$light:     #f0f8ff;
$dark:      #000000;

/* brakepoints */
$breakpoint-sm:  576px;
$breakpoint-md:  768px;
$breakpoint-lg:  992px;
$breakpoint-max: 1280px;